<!DOCTYPE html>
<html>
<head>
	<title>!!Acme User Offices</title>
	<link rel="stylesheet"  href="/vendor/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class='container'>

	<h1>Acme Users Offices</h1>
		<div class='row'>	
			<div class='col-sm-6'>	
				<h2>Users</h2>
				<div class='well'>
					<form class='form-group'>
						<label> Name
							<input type="text" name="name">
						</label>
						<button class='btn btn-primary'>Save</button>
					</form>
				</div>
				<div class='well'>
					<h3>User List</h3>
					<div class='well userList'></div>
				</div>
			</div>

			<!--	Offices -->
			<div class='col-sm-6'>	
				<h2>Offices</h2>
				<div class='well'>
					<form class='form-group'>
						<label> Name
							<input type="text" name="name">
						</label>
					</form>
				</div>
				<div class='well'>
					<h3>Office List</h3>
					<div class='well officeList'></div>					
				</div>
			</div>				
		</div>	
	</div>
	<script src="/vendor/jquery/dist/jquery.js"></script>
	<script src="/source/js/userList.js"></script>
	<script src="/source/js/officeList.js"></script>
	<script src="/source/js/app.js"></script>
</body>
</html>

